
<!doctype html>
<html lang="en">
  <head>
    <title>JobBoard &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="css/custom-bs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/line-icons/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/quill.snow.css">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body id="top">

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>


    <div class="site-wrap">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!-- .site-mobile-menu -->



          <!-- NAVBAR -->
          <header class="site-navbar mt-3">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="site-logo col-6"><a href="/about">COMMUNAL</a></div>

                <nav class="mx-auto site-navigation">
                  <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                    <li><a href="/profile" class="nav-link active">Home</a></li>
                    <li class="has-children">
                      <a href="/about" class="active">About Us</a>
                      <ul class="dropdown">
                        <li><a href="/services">Services</a></li>
                        <li><a href="/testimonials">Testimonials</a></li>
                        <!-- <li><a href="/faq">Frequently Ask Questions</a></li> -->
                      </ul>
                    </li>

                    <!-- <li class="has-children">
                    <li><a href="/about">About Us</a></li>
                    </li> -->
                    <li class="has-children">
                      <a href="/job-listings" class="active">View All Items</a>
                      <ul class="dropdown">
                        <!-- <li><a href="/item-single">Item Single</a></li> -->
                        <li><a href="/post-job" class="active">Post An Item</a></li>
                      </ul>
                    </li>

                    <li><a href="/contact" class="active">Contact</a></li>
                    <!-- <li><a href="/index" class="active">Log Out</a></li> -->
                    <!-- <li class="d-lg-none"><a href="/post-job"><span class="mr-2">+</span> Post An Item</a></li>
                    <li class="d-lg-none"><a href="/login">Log In</a></li> -->
                  </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                  <div class="ml-auto">
                    <!-- <a href="post-job.html" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Item</a> -->
                    <a href="/logout" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log Out</a>
                  </div>
                  <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

              </div>
            </div>
          </header>


      <section class="home-section section-hero overlay bg-image" style="background-image: url('https://images.pexels.com/photos/325521/pexels-photo-325521.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');" id="home-section">

        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-12">
              <div class="mb-5">
                <h1 class="text-white font-weight-bold" id="listingsH1">Search For Items Or Browse Below </h1>
                <!-- <p>Search through hundres of pages of free food, free furniture, anything you'll ever need to survive in a big city.</p> -->
              </div>

              <form method="post" class="search-jobs-form">
                <div class="row mb-5">
                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <input type="text" class="form-control form-control-lg" placeholder="Item Name" id="listingsItemName">
                  </div>

                  <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <!-- <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Items</button> -->
                    <a class="btn btn-primary btn-lg btn-block text-white btn-search" id="searchItemButton"><span class="icon-search icon mr-2"></span>Search Items</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 popular-keywords">
                    <h3 id="keywords">Trending Keywords:</h3>
                    <ul class="keywords list-unstyled m-0 p-0">
                      <li><a href="job-single?id=5e98df6ea958572777020ded" class="">Masks</a></li>
                      <li><a href="job-single?id=5e9de173d9884c839559858a" class="">Hand Sanitizer</a></li>
                      <li><a href="job-single?id=5e99090fa958572777020def" class="">Diapers</a></li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <a href="#next" class="scroll-button smoothscroll" id="listingsDownArrow">
          <span class=" icon-keyboard_arrow_down"></span>
        </a>

      </section>

      <section class="site-section" id="next">
        <div class="container">

          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="section-title mb-2">Claim Your Free Things</h2>
            </div>
          </div>

          <ul class="job-listings mb-5">
            <% for(var i=0; i<Listings.length; i++) {%>
              <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                <a href="job-single?id=<%= Listings[i]._id %>"></a>
                <div class="job-listing-logo">
                  <img src="<%=Listings[i].image%>" alt="Free Website Template by Free-Template.co" class="img-fluid">
                </div>

                <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                  <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                    <h2> <%= Listings[i].itemTitle %> </h2>
                    <strong><%= Listings[i].itemlocation %> </strong> Posted On: <strong><%=Listings[i].Date%></strong>


                    <!-- </div>

                    </div> -->
                  </div>

                </div>
                <!-- <div class="col-6">
                  <a href="#" class="btn btn-block btn-primary btn-md">Claim Item</a>
                </div> -->
            </li>
            <% } %>








          </ul>

          <!-- <div class="row pagination-wrap">
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
              <span>Showing 1-3 Of 4,568 Items</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
              <div class="custom-pagination ml-auto">
                <a href="#" class="prev">Prev</a>
                <div class="d-inline-block">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                </div>
                <a href="#" class="next">Next</a>
              </div>
            </div>
          </div> -->

        </div>
      </section>

    <!-- <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url('images/hero_1.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">In Search Of (ISO) something?</h2>
            <p class="mb-0 text-white lead">Sign Up So You Can Get Free Stuff!</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="#" class="btn btn-warning btn-block btn-lg">Sign Up</a>
          </div>
        </div>
      </div>
    </section> -->





    <footer class="site-footer">

      <a href="#top" class="smoothscroll scroll-top">
        <span class="icon-keyboard_arrow_up"></span>
      </a>

      <div class="container">
        <div class="row mb-5">
          <!-- <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Search Trending</h3>
            <ul class="list-unstyled">
              <li><a href="/job-single">Hand Sanitizer</a></li>
              <li><a href="/job-single">Masks</a></li>
              <li><a href="/job-single">Canned Goods</a></li>
              <li><a href="/job-single">Bread</a></li>
              <li><a href="/job-single">Printers</a></li>
              <li><a href="/job-single">Clorox Wipes</a></li>
            </ul>
          </div> -->
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Company</h3>
            <ul class="list-unstyled">
              <li><a href="/about">About Us</a></li>
              <!-- <li><a href="#">How We Got Started</a></li>
              <li><a href="#">Our Future</a></li>
              <li><a href="#">Annual Impact Report</a></li> -->
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Support</h3>
            <ul class="list-unstyled">
              <li><a href="/contact">Tech Support</a></li>
              <!-- <li><a href="#">Privacy</a></li> -->
              <!-- <li><a href="#">Terms of Service</a></li> -->
            </ul>
          </div>
          <div class="col-6 col-md-3 mb-4 mb-md-0">
            <h3>Contact Us</h3>
            <div class="footer-social">
              <!-- <a href="#"><span class="icon-facebook"></span></a> -->
              <a href="https://twitter.com/NyahMacklinDev"><span class="icon-twitter"></span></a>
              <!-- <a href="#"><span class="icon-instagram"></span></a> -->
              <a href="https://www.linkedin.com/in/nyahmacklin/"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <p class="copyright"><small>

            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | COMMUNAL is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >MacklinEngineering</a>
          </small></p>
          </div>
        </div>
      </div>
    </footer>



  </div>

    <!-- SCRIPTS -->
    <script src="js/main.js"> </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/stickyfill.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>

    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/quill.min.js"></script>


    <script src="js/bootstrap-select.min.js"></script>

    <script src="js/custom.js"></script>



  </body>
</html>
